<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TasarimCalismasi.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9B69B9A727C3F1C50011AD14</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B69B9BD27C3F1C70011AD14</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B69B9C727C3F1C70011AD14</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
